.footer{
    height: 80px;
    background-color: #000;
}
.box{
    color: aliceblue;
    margin-left: 20%;
    font-size: 20px;
    text-align: left;
    display: flex;
}
.box1{
    flex: 0.3;
    display: flex;
    margin-left: -1vh;
}
.box2{
    flex: 0.3;
    height: 3px;
    width: 2px;
    display: flex;

}
.box3{
    flex: 0.3;
}
.h1{
    flex: 0.5;
    font-size: 15px;
    font-style: normal;
    color: #fff;
    margin-top: 2px;

}
.i{
    flex: 0.1;
}
.face{
    
}
.insta{
    margin: 0 4px 0 4px;
}
.box3{
    display: flex;
    color: #fff;
}
.privacy{
    margin-left: 4vh;
    text-decoration: none;
    color: #fff;
}
@media(max-width:400px){
    .box3{
        padding:1px;
        font-size: 10px;
    }
    .box{
        margin-left: 3%;
        font-size: 15px;
    }
    .h1{
        font-size: 10px;
    }
    
}



